extends layout.jade

block content
	.container
		.row.featurette 
			.col-md-7
				h2.featurette-heading
					|	blah
				p.lead
					|	blah
			.col-md-5
				img.featurette-image.img-responsive(src="", alt='Image')