extends layout.jade
block content
  //Flavor layout
  include flavorDisplay.jade



//- 	.container
//- 		.row.featurette 
//- 			.col-md-7
//- 				h2.featurette-heading
//- 					|	blahj
//- 				p.lead
//- 					|	blah
//- 			.col-md-5
//- 				img.featurette-image.img-responsive(src="", alt='Image')