.container-fluid.footstyle
  // FOOTER
  footer
    p.pull-right
      a(href='#') Back to top
    p.pull-left
      | #{_mainInfo.contactItem.copyright} 
      //- a(href='#') Privacy
      //- |  &middot; 
      //- a(href='#') Terms
