.container-fluid.footstyle
  // FOOTER
  hr.featurette-divider    
  footer
    row
      p.pull-right
        a(href='#') Back to top
      p.pull-left
        h3.nomargin Contact us
        br 
        |	Our Shop: 1922 Martin Luther King Jr. Way, Suite B, Berkeley, CA 94704
        br
        |	Tel: 415.939.2832
        br
        | We would love to hear from you!  
        br    
        | #{_mainInfo.contactItem.copyright} 
        br
        br       
        //- a(href='#') Privacy
        //- |  &middot; 
        //- a(href='#') Terms
    row
      h5  Try some of our handmade ice cream at our new Berkeley location:
      br 
      include map.html





