//- Navigation bar at top of page

.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-static-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')
           img(src='/content/img/logo_bg-transparent.gif', alt= "HOME", style='width: auto;')
        .navbar-collapse.collapse
          ul.nav.navbar-nav                    
            li
              a(href='/about') ABOUT
            li
              a(href='/flavors') FLAVORS
            li
              a(href='/order') ORDER
            li
              a(href='/events') EVENTS

            //- li
            //-   a(href='/press') PRESS
            li
              img(src='/content/img/Email.jpg', alt= "HOME", style='height: 30px; margin-top: 20px;')
            li
              img(src='/content/img/SCSC-TWT.jpg', alt= "HOME", style='height: 30px; margin-top: 20px;')
            li
              img(src='/content/img/SCSC-FB.jpg', alt= "HOME", style='height: 30px; margin-top: 20px;')
            li
              img(src='/content/img/Yelp.jpg', alt= "HOME", style='height: 30px; margin-top: 20px;')
            //- li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Dropdown 
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='#') Action
                li
                  a(href='#') Another action
                li
                  a(href='#') Something else here
                li.divider
                li.dropdown-header Nav header
                li
                  a(href='#') Separated link
                li
                  a(href='#') One more separated link