extends layout.jade

block content
	//Full width image
	.container-fluid
		.row.featurette-image.thick
			img.full(src='/content/img/Order_01.jpg')
		.container
			.carousel-caption.imgtextcenter
				h1.big PRESS 
				//- p Our Order page is coming soon. 
	hr.featurette-divider
	
	//Full width text
	.container
		.row.whitespace
			.col-md-12.centered
				h1.centered Find us in the press!
				p.centered.para Please contact us directly via email at 
					a(href='mailto:funn.fisher@gmail.com') funn.fisher@gmail.com 
					| or call (415)9392832 to place an order. We'll be happy to help!