extends layout.jade

block content
	//Full width image
	.container-fluid
		.row.featurette-image.thick
			img.full.hidden-xs(src='/content/img/Press_01.jpg')
			img.img-mobile.visible-xs(src='/content/img/Press_mobile.jpg')				
		.container
			.carousel-caption.imgtextcenter
				h1.big PRESS 
				//- p Our Order page is coming soon. 
	hr.featurette-divider.hidden-xs
	
	//Full width text
	.container
		.row.whitespace
			.col-md-12.centered
				h1.centered.hidden-xs Related Publications
					h2
						a(href='http://www.theexpatwoman.com/funn-fisher-founder-of-secret-scoop-thai-gelato/') TheExpatWoman.com
						hr.featurette-divider
						a(href='http://www.sfbg.com/pixel_vision/2014/08/19/live-shots-sf-street-food-fest-fills-us-quickly') sfbg.com
						hr.featurette-divider
						a(href='http://sf.tasteterminal.com/2013/04/20/secret-scoop-thai-gelato/') sf.tasteterminal.com
					